.landing-gallery-grid {
    display: grid;
    
}

.landing-gallery-flex {
    display: flex;
    flex-flow: row wrap;

}

.gallery-item {
    flex: 1 1 300px;
    position: relative;
    height: 30vh;
    border: none; 
    background-repeat: no-repeat;
    background-size: contain;
}

.landing-article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

.landing-article:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.landing-article:hover:after {
    opacity:1;
}


.article-headline {
    font-family: 'Roboto';
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    
}

.one {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ), 
      url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80") no-repeat top ; 
    background-size: cover;
    flex-grow: 5;
}

.two {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url("https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center; 
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 2;
}

.break {
    height: 0;
    width: 100%;
  }

.three {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url("https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat top ; 
    background-size: cover;
    flex-grow: 2;
}
.four {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url("https://images.unsplash.com/photo-1532444458054-01a7dd3e9fca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1412&q=80") no-repeat top ; 
    background-size: cover;
    flex-grow: 5;
}
.five {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url("https://images.unsplash.com/photo-1444930694458-01babf71870c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1430&q=80") no-repeat center;
    background-size: cover;
}
.six {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url("https://images.unsplash.com/photo-1560506939-fdf1667b1f9d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1382&q=80") no-repeat center; 
    background-size: cover;
}