/* HEIGHT IS SET AT 8VH */

nav {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 8vh;
    background: var(--dark-color)
}

.logo {
    display: flex;
    flex-basis: 1 1 300px;
    justify-content: flex-end;
    align-items: center;
    font-size: 4rem;
    width: 50vw;
    min-width: 300px;
    margin-left: 2rem;
    color: var(--primary-color);
}

.logo a {
    color: var(--primary-color);
}

.menu {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    width: 50vw;
    margin-left: -2rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul a {
    margin-right: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
    nav {
      height: auto;
      justify-content: center;
    }
    .logo {
        justify-content: center;
        margin: 0;
    }
    .menu {
        justify-content: center;
        margin-left: 2rem;
    }
  }


